@mixin svgGlitch($name, $speed, $offset, $fillHighlight1, $fillHighlight2) {

    $steps: $speed;

    @at-root {

        @for $i from 1 through 2 {
            @keyframes #{$name}-anim-#{$i} {
                @for $i from 0 through $steps {

                    $top: random(100);
                    $bottom: random(101 - $top);

                    #{percentage($i*(1/$steps))} {
                        clip-path: inset(#{$top}% 0 #{$bottom}% 0);
                    }
                }
            }
        }
    }

    position: relative;

    svg:nth-child(1) {
        left: 0;
        position: relative;
    }

    svg:nth-child(2),
    svg:nth-child(3) {
        z-index: -1;
        top: 0;
        position: absolute;
    }

    svg:nth-child(2) {
        fill: $fillHighlight1;
        left: -#{$offset}px;
        animation: #{$name}-anim-1 2s infinite linear alternate;
    }

    svg:nth-child(3) {
        fill: $fillHighlight2;
        left: #{$offset}px;
        animation: #{$name}-anim-2 3s infinite linear alternate-reverse;
    }
}