#navigation {

    z-index: 999;

    display: none;

    min-height: 100% !important;
    height: auto !important;

    &.active {
        display: block;
    }

    li a {
        color: inherit;
        width: 100%;
        height: 100%;
        display: block;
    }
}

#colophon {

    li a {
        color: inherit;
    }
}

#fader {
    opacity: .8;
}